<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MaventestngSuite">
  <test thread-count="5" name="MaventestngTest">
    <classes>
      <class name="com.model.mv.Mercurytstest1"/>
    </classes>
  </test> <!-- MaventestngTest -->
</suite> <!-- MaventestngSuite -->
